@font-face {
    font-family: "GothamPro";
    src: url("../fonts/GothamProLight.eot");
    src: url("../fonts/GothamProLight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamProLight.woff") format("woff"),
    url("../fonts/GothamProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

